<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="author" content="SemiColonWeb" />
  <meta name="description"
    content="Create Skincare Store &amp; Beauty Products Websites with Canvas Template. Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today." />

  <!-- Font Imports -->
  <link rel="stylesheet" href="https://use.typekit.net/aay8rzy.css" />

  <!-- Core Style -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/style.css" />

  <!-- Font Icons -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/css/font-icons.css" />

  <!-- Plugins/Components CSS -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/css/swiper.css" />

  <!-- Niche Demos -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/demos/skincare/skincare.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/css/custom.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Document Title
	============================================= -->
  <title>Cart - Demo Skincare | Canvas</title>
</head>

<body class="stretched skincare-shop-cart">
  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper">
    <!-- Top Bar
		============================================= -->

    <!-- Header
		============================================= -->
    <header id="header" class="header-size-sm" data-sticky-shrink="false" style="border-color: var(--cnvs-color)">
      <div class="container">
        <div class="header-row justify-content-lg-between">
          <nav class="primary-menu top-primary-menu col-lg-5 order-last order-lg-first mobile-menu-off-canvas">
            <ul class="menu-container">
              <li class="menu-item">
                <a class="menu-link" href="demo-wenchuang.html">
                  <div>主页</div>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="demo-wenchuang-shop.html">
                  <div>产品</div>
                </a>
              </li>
              <li class="menu-item current">
                <a class="menu-link" href="demo-wenchuang-cart.html">
                  <div>购物车</div>
                </a>
              </li>
            </ul>
          </nav>
          <!-- #primary-menu end -->

          <!-- Logo
					============================================= -->
          <div id="logo" class="mx-lg-auto col-lg-2 justify-content-center">
            <a class="color fst-italic" href="#">文创商城</a>
          </div>
          <!-- #logo end -->

          <div class="col-lg-5 d-flex justify-content-end">
            <div class="header-misc">
              <!-- #primary-menu end -->

              <div class="primary-menu-trigger" data-target=".top-primary-menu">
                <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                  <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                </button>
              </div>

              <!-- Top Account
							============================================= -->
              <div class="header-misc-icon me-lg-4">
                <a href="demo-wenchuang-login.html"><i class="bi-person-circle"></i></a>
              </div>
              <!-- top-Account end -->

              <!-- Top Cart
							============================================= -->
              <div id="top-cart" class="header-misc-icon me-lg-4">
                <a href="#" id="top-cart-trigger"><i class="bi-basket"></i></a>
                <div class="top-cart-content">
                  <div class="top-cart-title">
                    <h4 class="ls-0 text-transform-none">Shopping Cart</h4>
                  </div>
                  <div class="top-cart-items">
                    <div class="top-cart-item">
                      <div class="top-cart-item-image position-relative">
                        <a href="demo-wenchuang-single.html"><img
                            src="http://127.0.0.1:8082/demos/skincare/images/products/13.jpg"
                            alt="Blue Shoulder Bag" /></a>
                        <span
                          class="position-absolute top-0 start-0 translate-middle bg-danger rounded-circle lh-1 border border-white text-white square square-xs text-center">
                          <span class="visually-hidden">Remove </span>&times;
                        </span>
                      </div>
                      <div class="top-cart-item-desc">
                        <div class="top-cart-item-desc-title">
                          <a href="demo-wenchuang-single.html" class="fw-normal">Âimtze Cream &amp; Lotions</a>
                          <span class="top-cart-item-price d-block">$29.99</span>
                        </div>
                        <div class="top-cart-item-quantity">x 1</div>
                      </div>
                    </div>
                    <div class="top-cart-item border-default">
                      <div class="top-cart-item-image position-relative">
                        <a href="demo-wenchuang-single.html"><img
                            src="http://127.0.0.1:8082/demos/skincare/images/products/11.jpg"
                            alt="Blue Shoulder Bag" /></a>
                        <span
                          class="position-absolute top-0 start-0 translate-middle bg-danger rounded-circle lh-1 border border-white text-white square square-xs text-center">
                          <span class="visually-hidden">Remove </span>&times;
                        </span>
                      </div>
                      <div class="top-cart-item-desc">
                        <div class="top-cart-item-desc-title">
                          <a href="demo-wenchuang-single.html" class="fw-normal">Clove Super Serum</a>
                          <span class="top-cart-item-price d-block">$12.49</span>
                        </div>
                        <div class="top-cart-item-quantity">x 2</div>
                      </div>
                    </div>
                  </div>
                  <div class="top-cart-action border-default">
                    <a href="demo-wenchuang-cart.html" class="button button-small m-0">View Cart</a>
                    <span class="top-checkout-price">$54.97</span>
                  </div>
                </div>
              </div>
              <!-- #top-cart end -->

              <!-- Top Search
							============================================= -->
              <div id="top-search" class="header-misc-icon">
                <a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
              </div>
              <!-- #top-search end -->
            </div>
          </div>

          <form class="top-search-form" action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.."
              autocomplete="off" />
          </form>
        </div>
      </div>

      <div id="header-wrap">
        <div class="container">
          <div class="header-row">
            <div class="primary-menu-trigger justify-content-start" data-target=".main-primary-menu">
              <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
              </button>
            </div>

            <!-- #primary-menu end -->
          </div>
        </div>
      </div>
      <div class="header-wrap-clone"></div>
    </header>
    <!-- #header end -->

    <!-- Content
		============================================= -->
    <div id="content">
      <div class="content-wrap">
        <div class="container">
          <div class="row gutter-40">
            <div class="col-xl-8">
              <table class="table cart mb-0">
                <thead>
                  <tr>
                    <th class="fw-normal cart-product-thumbnail">&nbsp;</th>
                    <th class="fw-normal cart-product-name">商品</th>
                    <th class="fw-normal cart-product-price">单价</th>
                    <th class="fw-normal cart-product-quantity">数量</th>
                    <th class="fw-normal cart-product-subtotal">总计</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- 遍历 cartlist 渲染每个购物车项 -->
                  <tr v-for="cartItem in cartlist" :key="cartItem.cartId" class="cart_item">
                    <td class="cart-product-thumbnail">
                      <a href="#" class="position-relative">
                        <img class="border-0" width="64" height="64"
                          :src="'http://localhost:8086/image/'+cartItem.productImagePath" :alt="cartItem.productName" />
                        <span
                          class="position-absolute top-0 start-0 translate-middle bg-danger rounded-circle lh-1 border border-white text-white square square-xs text-center"
                          @click="removeFromCart(cartItem.cartId)">
                          <span class="visually-hidden">Remove Product</span>&times;
                        </span>
                      </a>
                    </td>

                    <td class="cart-product-name">
                      <a class="fw-normal" href="#">{{ cartItem.productName }}</a>
                    </td>

                    <td class="cart-product-price op-05">
                      <span class="amount">${{ cartItem.productDiscountPrice.toFixed(2) }}</span>
                    </td>

                    <td class="cart-product-quantity cart cart-border cart-border-2">
                      <div class="quantity">
                        <button type="button" class="minus" @click="updateQuantity(cartItem, -1)">
                          <i class="uil uil-minus"></i>
                        </button>
                        <input type="number" step="1" min="1" v-model="cartItem.quantity" title="Qty"
                          class="qty border-0" />
                        <button type="button" class="plus" @click="updateQuantity(cartItem, 1)">
                          <i class="uil uil-plus"></i>
                        </button>
                      </div>
                    </td>

                    <td class="cart-product-subtotal">
                      <span class="amount">${{ (cartItem.productDiscountPrice * cartItem.quantity).toFixed(2) }}</span>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

            <div class="col-xl-4">
              <div class="row col-mb-30">
                <div class="col-12">
                  <div class="grid-inner bg-color bg-opacity-10 p-5 rounded-6">


                    <div class="table-responsive">
                      <table class="table cart cart-totals">
                        <tbody>
                          <tr class="cart_item">
                            <td class="cart-product-name">购物车总计:</td>

                            <td class="cart-product-name text-end">
                              <span class="amount">${{ totalPrice }}</span>
                            </td>
                          </tr>
                          <tr class="cart_item">
                            <td class="cart-product-name">运费:</td>

                            <td class="cart-product-name text-end">
                              <span class="amount">免费</span>
                            </td>
                          </tr>
                          <tr class="cart_item">
                            <td class="cart-product-name">总计:</td>

                            <td class="cart-product-name text-end">
                              <span class="amount color lead fw-bold">${{ totalPrice }}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <a href="#" class="button text-light m-0 w-100 text-center" @click="createOrder">去付款</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #content end -->
  </div>
  <!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="uil uil-angle-up"></div>

  <!-- JavaScripts
	============================================= -->
  <script src="http://127.0.0.1:8082/js/plugins.min.js"></script>
  <script src="http://127.0.0.1:8082/js/functions.bundle.js"></script>
  <!-- 引入 Vue 和 Axios -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // Vue 3 中使用 createApp 方法创建应用实例
    const app = Vue.createApp({
      data() {
        return {
          cartlist: [],
        };
      },
      mounted() {
        console.log("mounted");
        this.fetchData();
      },
      computed: {
        // 计算总价
        totalPrice() {
          return this.cartlist.reduce((total, item) => {
            return total + (item.productDiscountPrice * item.quantity);
          }, 0).toFixed(2); // 保留两位小数
        }
      },
      methods: {

        // Function to handle the order creation process
        async createOrder() {

          // 从 localStorage 获取用户 ID
          var user = JSON.parse(localStorage.getItem('user'));

          if (!user) {
            // 如果用户未登录，弹出提示
            alert('请先登录');
            return;
          }

          try {
            // Step 1: Prepare the order data (you can get this from your frontend application ståate)
            const orderData = {
          
              userId: user.userId,  
              username: user.username,  
              totalPrice: this.totalPrice, // Example total price
              statusName: '未支付',
              statusCode: 1,
           
            };

            // Step 2: Create the order by sending a POST request to /order
            const orderResponse = await axios.post('http://localhost:8086/order', orderData);
            if (orderResponse.data==null) {
              throw new Error('Failed to create order');
              return;
            }
            const orderId = orderResponse.data; // Assuming the API returns the orderId

            
            const orderItems = this.cartlist.map(item => ({
              orderId: orderId,
              productId: item.productId,
              productName: item.productName,
              productPrice: item.productPrice,
              productDiscountPrice: item.productDiscountPrice, // Example discount logic
              productPriceDifference: item.productPriceDifference,
              productCategory:  item.productCategory,
              productImagePath: item.productImagePath,
              quantity: item.quantity,
              amount: item.productDiscountPrice * item.quantity,
            }));

            // Step 4: Create order items by sending a POST request to /orderItem
            for (const orderItem of orderItems) {
              await axios.post('http://localhost:8086/orderItem', orderItem);
            }

            // Step 5: Clear the user's cart by sending a DELETE request to /cart/cartId
            await axios.delete(`http://localhost:8086/cart/user/${user.userId}`); 
            // Notify the user or update the UI accordingly
            console.log('Order created successfully!');

               // Redirect to the single checkout page
          window.location.href = 'demo-wenchuang-checkout.html';

          } catch (error) {
            console.error('Error creating order:', error);
            console.log('Error creating order. Please try again.');
          }
        },
        // 更新购物车数量
        updateQuantity(cartItem, change) {
          // 更新数量
          if (cartItem.quantity + change >= 1) {
            cartItem.quantity += change;
            // 发送 PUT 请求到后端，附带 cartItem 对象作为请求体
            axios.put(`http://localhost:8086/cart/${cartItem.cartId}`, cartItem)
              .then(response => {
                // 后端返回成功，提示用户
                console.log("更新购物车数量成功");
              })
              .catch(error => {
                // 出现错误时还原数量
                cartItem.quantity -= change;  // 还原数量
                console.error("更新购物车数量失败:", error);

              });
          }
        },

        // 删除购物车项
        removeFromCart(cartId) {
          // 发送 DELETE 请求到后台
          axios.delete(`http://localhost:8086/cart/${cartId}`)
            .then(response => {
              // 如果删除成功，更新 cartlist
              this.cartlist = this.cartlist.filter(item => item.cartId !== cartId);
              alert("商品已从购物车中移除");
            })
            .catch(error => {
              // 如果请求失败，提示用户
              console.error("删除购物车项失败:", error);
              alert("删除购物车项失败，请稍后再试");
            });



        },
        async fetchData() {
          // 从 localStorage 获取用户 ID
          var user = JSON.parse(localStorage.getItem('user'));

          if (!user) {
            // 如果用户未登录，弹出提示
            alert('请先登录');
            return;
          }
          try {
            const res = await axios.get('http://localhost:8086/cart/user/' + user.userId);
            if (res.data != null) {
              this.cartlist = res.data;
            }
          } catch (err) {
            console.error(err);
          }
        },
      },
    });

    // 挂载到 DOM 元素上
    app.mount("#wrapper");
  </script>
</body>

</html>