<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="author" content="SemiColonWeb" />
    <meta
      name="description"
      content="Create Skincare Store &amp; Beauty Products Websites with Canvas Template. Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today."
    />

    <!-- Font Imports -->
    <link rel="stylesheet" href="https://use.typekit.net/aay8rzy.css" />

    <!-- Core Style -->
    <link rel="stylesheet" href="http://127.0.0.1:8082/style.css" />

    <!-- Font Icons -->
    <link rel="stylesheet" href="http://127.0.0.1:8082/css/font-icons.css" />

    <!-- Plugins/Components CSS -->
    <link rel="stylesheet" href="http://127.0.0.1:8082/css/swiper.css" />

    <!-- Niche Demos -->
    <link
      rel="stylesheet"
      href="http://127.0.0.1:8082/demos/skincare/skincare.css"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="http://127.0.0.1:8082/css/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
	============================================= -->
    <title>Sign In - Demo Skincare | Canvas</title>
  </head>

  <body class="stretched">
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper">
      <!-- Top Bar
		============================================= -->

      <!-- Header
		============================================= -->
      <header
        id="header"
        class="header-size-sm"
        data-sticky-shrink="false"
        style="border-color: var(--cnvs-color)"
      >
        <div class="container">
          <div class="header-row justify-content-lg-between">
            <nav
              class="primary-menu top-primary-menu col-lg-5 order-last order-lg-first mobile-menu-off-canvas"
            >
              <ul class="menu-container">
                <li class="menu-item">
                  <a class="menu-link" href="demo-wenchuang.html"
                    ><div>主页</div></a
                  >
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="demo-wenchuang-shop.html"
                    ><div>产品</div></a
                  >
                </li>

                <li class="menu-item">
                  <a class="menu-link" href="demo-wenchuang-cart.html"
                    ><div>购物车</div></a
                  >
                </li>
              </ul>
            </nav>
            <!-- #primary-menu end -->

            <!-- Logo
					============================================= -->
            <div id="logo" class="mx-lg-auto col-lg-2 justify-content-center">
              <a class="color fst-italic" href="#">文创商城</a>
            </div>
            <!-- #logo end -->

            <div class="col-lg-5 d-flex justify-content-end">
              <div class="header-misc">
                <!-- #primary-menu end -->

                <div
                  class="primary-menu-trigger"
                  data-target=".top-primary-menu"
                >
                  <button
                    class="cnvs-hamburger"
                    type="button"
                    title="Open Mobile Menu"
                  >
                    <span class="cnvs-hamburger-box"
                      ><span class="cnvs-hamburger-inner"></span
                    ></span>
                  </button>
                </div>

                <!-- Top Account
							============================================= -->
                <div class="header-misc-icon me-lg-4">
                  <a href="demo-wenchuang-login.html"
                    ><i class="bi-person-circle"></i
                  ></a>
                </div>
                <!-- top-Account end -->

                <!-- Top Cart
							============================================= -->
                <div id="top-cart" class="header-misc-icon me-lg-4">
                  <a href="demo-wenchuang-cart.html" id="top-cart-trigger"
                    ><i class="bi-basket"></i
                  ></a>
                </div>
                <!-- #top-cart end -->

                <!-- Top Search
							============================================= -->
                <div id="top-search" class="header-misc-icon">
                  <a href="#" id="top-search-trigger"
                    ><i class="uil uil-search"></i><i class="bi-x-lg"></i
                  ></a>
                </div>
                <!-- #top-search end -->
              </div>
            </div>

            <form class="top-search-form" action="search.html" method="get">
              <input
                type="text"
                name="q"
                class="form-control"
                value=""
                placeholder="Type &amp; Hit Enter.."
                autocomplete="off"
              />
            </form>
          </div>
        </div>

        <div id="header-wrap">
          <div class="container">
            <div class="header-row">
              <div
                class="primary-menu-trigger justify-content-start"
                data-target=".main-primary-menu"
              >
                <button
                  class="cnvs-hamburger"
                  type="button"
                  title="Open Mobile Menu"
                >
                  <span class="cnvs-hamburger-box"
                    ><span class="cnvs-hamburger-inner"></span
                  ></span>
                </button>
              </div>

              <!-- #primary-menu end -->
            </div>
          </div>
        </div>
        <div class="header-wrap-clone"></div>
      </header>
      <!-- #header end -->

      <!-- Content
		============================================= -->
      <section id="content" v-if="userid == null">
        <div class="content-wrap">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-3">
                <form
                  id="login-form"
                  name="login-form"
                  class="mb-0"
                  action=""
                  method="post"
                  @submit.prevent="login"
                >
                  <h3 class="text-center fs-5 font-body">登录你的账户</h3>

                  <div class="row">
                    <div class="col-12 form-group">
                      <input
                        type="text"
                        id="login-form-username"
                        name="login-form-username"
                        value=""
                        placeholder="用户名"
                        class="form-control rounded-0 bg-color-2"
                        v-model="username"
                      />
                    </div>

                    <div class="col-12 form-group">
                      <input
                        type="password"
                        id="login-form-password"
                        name="login-form-password"
                        value=""
                        placeholder="密码"
                        class="form-control rounded-0 bg-color-2"
                        v-model="password"
                      />
                    </div>

                    <div class="col-12 form-group text-center">
                      <button
                        class="button text-light m-0 w-100"
                        id="login-form-submit"
                        name="login-form-submit"
                        value="login"
                      >
                        登录
                      </button>
                      <a href="#" class="text-smaller mt-1 d-block"
                        >忘记密码?</a
                      >
                    </div>
                  </div>
                </form>

                <div class="line my-4 border-color op-02"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #content end -->
      <section id="content" v-else>
        <div class="content-wrap">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-3">
                <h3 class="text-center fs-5 font-body">登录成功</h3>
                <p>用户ID: {{ userid }}</p>
                <p>用户名: {{username}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer
		============================================= -->
    </div>
    <!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="uil uil-angle-up"></div>

    <!-- JavaScripts
	============================================= -->
    <script src="http://127.0.0.1:8082/js/plugins.min.js"></script>
    <script src="http://127.0.0.1:8082/js/functions.bundle.js"></script>
    <!-- 引入 Vue 和 Axios -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      // Vue 3 中使用 createApp 方法创建应用实例
      const app = Vue.createApp({
        data() {
          return {
            message: "Hello Vue 3!",
            data: null,
            username: "",
            password: "",
            userid: null,
            usertype: null,
          };
        },
        methods: {
          fetchData() {
            // 使用 Axios 请求后端 API
            axios
              .get("https://jsonplaceholder.typicode.com/posts/1")
              .then((response) => {
                this.data = response.data;
              })
              .catch((error) => {
                console.error("请求失败", error);
              });
          },
          login() {
            console.log("login");
            axios
              .post("http://localhost:8086/login", {
                username: this.username,
                password: this.password,
              })
              .then((response) => {
                console.log("login success", response);
                this.userid = response.data.userid;
                this.username = response.data.username;
                this.usertype = response.data.usertype;
                localStorage.setItem("userid", this.userid);
                localStorage.setItem("username", this.username);
                localStorage.setItem("usertype", this.usertype);
              })
              .catch((error) => {
                console.error("login failed", error);
              });
          },
          loadStoredData() {
            // 从本地存储中读取数据
            this.userid = localStorage.getItem("userid");
            this.username = localStorage.getItem("username");
            this.usertype = localStorage.getItem("usertype");
          },
        },
        mounted() {
          console.log("Vue 3 mounted");
          this.loadStoredData();
        },
      });

      // 挂载到 DOM 元素上
      app.mount("#wrapper");
    </script>
  </body>
</html>
