<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="author" content="SemiColonWeb" />
  <meta name="description"
    content="Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today." />

  <!-- Font Imports -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital@0;1&display=swap"
    rel="stylesheet" />

  <!-- Font Imports -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital@0;1&display=swap"
    rel="stylesheet" />

  <!-- Core Style -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/style.css" />

  <!-- Font Icons -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/css/font-icons.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/css/custom.css" />

  <!-- Font Imports -->
  <link rel="stylesheet" href="https://use.typekit.net/aay8rzy.css" />

  <!-- Core Style -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/style.css" />

  <!-- Font Icons -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/css/font-icons.css" />

  <!-- Plugins/Components CSS -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/css/swiper.css" />

  <!-- Niche Demos -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/demos/skincare/skincare.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="http://127.0.0.1:8082/css/custom.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Document Title
	============================================= -->
  <title>Checkout | Canvas</title>
</head>

<body class="stretched">
  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper">
    <!-- Header
		============================================= -->
    <header id="header" class="header-size-sm" data-sticky-shrink="false" style="border-color: var(--cnvs-color)">
      <div class="container">
        <div class="header-row justify-content-lg-between">
          <nav class="primary-menu top-primary-menu col-lg-5 order-last order-lg-first mobile-menu-off-canvas">
            <ul class="menu-container">
              <li class="menu-item">
                <a class="menu-link" href="demo-wenchuang.html">
                  <div>主页</div>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="demo-wenchuang-shop.html">
                  <div>产品</div>
                </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="demo-wenchuang-cart.html">
                  <div>购物车</div>
                </a>
              </li>
            </ul>
          </nav>
          <!-- #primary-menu end -->

          <!-- Logo
					  ============================================= -->
          <div id="logo" class="mx-lg-auto col-lg-2 justify-content-center">
            <a class="color fst-italic" href="#">文创商城</a>
          </div>
          <!-- #logo end -->

          <div class="col-lg-5 d-flex justify-content-end">
            <div class="header-misc">
              <!-- #primary-menu end -->

              <div class="primary-menu-trigger" data-target=".top-primary-menu">
                <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                  <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                </button>
              </div>

              <!-- Top Account
							  ============================================= -->
              <div class="header-misc-icon me-lg-4">
                <a href="demo-wenchuang-login.html"><i class="bi-person-circle"></i></a>
              </div>
              <!-- top-Account end -->

              <!-- Top Cart
							  ============================================= -->
              <div id="top-cart" class="header-misc-icon me-lg-4">
                <a href="#" id="top-cart-trigger"><i class="bi-basket"></i></a>
          
              </div>
              <!-- #top-cart end -->

              <!-- Top Search
							  ============================================= -->
              <div id="top-search" class="header-misc-icon">
                <a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
              </div>
              <!-- #top-search end -->
            </div>
          </div>

          <form class="top-search-form" action="search.html" method="get">
            <input type="text" name="q" class="form-control" v-model="" placeholder="Type &amp; Hit Enter.."
              autocomplete="off" />
          </form>
        </div>
      </div>

      <div id="header-wrap">
        <div class="container">
          <div class="header-row">
            <div class="primary-menu-trigger justify-content-start" data-target=".main-primary-menu">
              <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
              </button>
            </div>

            <!-- #primary-menu end -->
          </div>
        </div>
      </div>
    </header>
    <!-- #header end -->
    <!-- Content
		============================================= -->
    <section id="content">
      <div>
        <div class="container">
          <h1>填写收货地址</h1>


          <div class="row col-mb-50 gutter-50">
            <div class="col-lg-6">
              <div>
                <h3>收货地址</h3>

                <p>请正确填写收货地址和收获人</p>

                <form id="billing-form" name="billing-form" class="row mb-0" action="#" method="post">
                  <div class="col-md-6 form-group">
                    <label for="billing-form-lname">姓:</label>
                    <input type="text" id="billing-form-lname" name="billing-form-lname" v-model="order.lastname"
                      class="form-control" />
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="billing-form-name">名:</label>
                    <input type="text" id="billing-form-name" name="billing-form-name" v-model="order.firstname" class="form-control" />
                  </div>

                  <div class="w-100"></div>

                  <div class="col-12 form-group">
                    <label for="billing-form-address">地址:</label>
                    <input type="text" id="billing-form-address" name="billing-form-address" v-model="order.receiveDetailAddress"
                      class="form-control" />
                  </div>

                  <div class="col-12 form-group">
                    <label for="billing-form-city">城市 </label>
                    <input type="text" id="billing-form-city" name="billing-form-city" v-model="order.receiveCity" class="form-control" />
                  </div>
                  <div class="col-12 form-group">
                    <label for="billing-form-city">省份 </label>
                    <input type="text" id="billing-form-city" name="billing-form-city" v-model="order.receiveProvince" class="form-control" />
                  </div>

                  <div class="col-md-6 form-group">
                    <label for="billing-form-phone">电话号码:</label>
                    <input type="text" id="billing-form-phone" name="billing-form-phone" v-model="order.phone"
                      class="form-control" />
                  </div>
                </form>
              </div>
            </div>

            <div class="col-lg-6">
              <div>
                <h3>购物车结算</h3>
                <div class="table-responsive">
                  <table class="table cart">
                    <thead>
                      <tr>
                        <th class="cart-product-thumbnail">&nbsp;</th>
                        <th class="cart-product-name">商品</th>
                        <th class="cart-product-quantity">数量</th>
                        <th class="cart-product-subtotal">小计</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cart_item" v-for="item in orderItems" :key="item.orderItemId">
                        <td class="cart-product-thumbnail">
                          <a href="#"><img width="64" height="64"
                              :src="'http://127.0.0.1:8086/image/'+item.productImagePath"
                              :alt="item.productImagePath" /></a>
                        </td>

                        <td class="cart-product-name">
                          <a href="#">{{ item.productName }}</a>
                        </td>

                        <td class="cart-product-quantity">
                          <div class="quantity">{{ item.quantity }}</div>
                        </td>

                        <td class="cart-product-subtotal">
                          <span class="amount"> {{ item.amount  }}</span>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="w-100"></div>
              <div>
                <h4>总计</h4>

                <div class="table-responsive">
                  <table class="table cart">
                    <tbody>
                      <tr class="cart_item">
                        <td class="border-top-0 cart-product-name">
                          <strong>购物车总计</strong>
                        </td>

                        <td class="border-top-0 cart-product-name">
                          <span class="amount">{{totalPrice}}</span>
                        </td>
                      </tr>
                      <tr class="cart_item">
                        <td class="cart-product-name">
                          <strong>运费</strong>
                        </td>

                        <td class="cart-product-name">
                          <span class="amount">免运费</span>
                        </td>
                      </tr>
                      <tr class="cart_item">
                        <td class="cart-product-name">
                          <strong>总计</strong>
                        </td>

                        <td class="cart-product-name">
                          <span class="amount color lead"><strong>{{totalPrice}}</strong></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="accordion">
                  <div class="accordion-header">
                    <div class="accordion-icon">
                      <i class="accordion-closed uil uil-minus"></i>
                      <i class="accordion-open bi-check-lg"></i>
                    </div>
                    <div class="accordion-title">支付宝支付</div>
                  </div>
                  <div class="accordion-content">推荐使用支付宝支付</div>

                  <div class="accordion-header">
                    <div class="accordion-icon">
                      <i class="accordion-closed uil uil-minus"></i>
                      <i class="accordion-open bi-check-lg"></i>
                    </div>
                    <div class="accordion-title">微信支付</div>
                  </div>
                  <div class="accordion-content">推荐使用微信支付</div>

                  <div class="accordion-header">
                    <div class="accordion-icon">
                      <i class="accordion-closed uil uil-minus"></i>
                      <i class="accordion-open bi-check-lg"></i>
                    </div>
                    <div class="accordion-title">银联支付</div>
                  </div>
                  <div class="accordion-content">推荐使用银联支付</div>
                </div>
                <div class="d-flex justify-content-end">
                  <a href="demo-wenchuang-tracking.html" class="button button-3d">支付订单</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #content end -->

    <!-- #footer end -->
  </div>
  <!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="uil uil-angle-up"></div>

  <!-- JavaScripts
	============================================= -->
  <script src="http://127.0.0.1:8082/js/plugins.min.js"></script>
  <script src="http://127.0.0.1:8082/js/functions.bundle.js"></script>
  <!-- 引入 Vue 和 Axios -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // Vue 3 中使用 createApp 方法创建应用实例
    const app = Vue.createApp({
      data() {
        return {
          order: {},
          orderItems: [],
          totalPrice: 0
        };
      },
      mounted() {
        this.fetchData();
      }
      ,
      methods: {

        fetchData() {
          this.order = JSON.parse(localStorage.getItem("order"));
          this.orderItems = JSON.parse(localStorage.getItem("orderItems"));
          this.totalPrice = localStorage.getItem("totalPrice");
        },
      },
    });

    // 挂载到 DOM 元素上
    app.mount("#wrapper");
  </script>
</body>

</html>